// ------- General -------

@charset "utf-8";
:root {
  --primary: #ca2228;
  --secondary: #333333;
  --white: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

h1 {
  color: var(--primary);
}

// ------- Login Style -------

.logo {
  width: 18rem;
  height: 18rem;
}

#logform {
  width: 100%;
  height: auto;
}

.login-form {
  background-color: var(--primary);
  border-radius: 5px;
  width: 100%;
  height: auto;
  color: var(--white);
  font-weight: bold;

  input {
    border: solid 2px var(--secondary);
  }

  button {
    align-self: center;
    font-weight: bold;
  }
}

// ------- Landlord Login & Register Style -------

.tab-form > .active {
  background-color: var(--primary);
  color: var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}

.tab {
  border-top: solid 2px var(--primary);
  border-left: solid 2px var(--primary);
  border-right: solid 2px var(--primary);
  color: var(--primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}

.tab:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.signup-form {
  background-color: var(--primary);
  border-radius: 5px;
  width: 100%;
  height: auto;
  color: var(--white);
  font-weight: bold;

  input {
    border: solid 2px var(--secondary);
  }

  button {
    align-self: center;
    font-weight: bold;
  }
}

// ------- Nav and Footer -------

nav {
  color: var(--primary)
}

footer {
  color: var(--primary);
}

// ------- Dashboard Style -------

.landlord-msg-card {
  box-shadow: 0px 0px 20px 2px black;
}

.dashboard {
  background-color: var(--secondary);
}

.user-card {
  width: 20rem;
  max-height: 15rem;
}

.card-shadow {
  box-shadow: 0px 0px 20px 2px black;
}

.card-header {
  background-color: var(--primary);
  color: var(--white);
}

.btn {
  background-color: var(--primary);
  border-color: var(--white);
  align-items: center;
}

.btn:hover {
  background-color: var(--white);
  border-color: var(--primary);
  border-width: 3px;
  color: var(--primary)
}

.btn-square {
  height: 10rem;
  padding: 1.5rem;
}

.calendar {
  background-color: #333333;
}

// ------- Modal styles -------
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--secondary);
  margin: 15% auto;
  padding: 20px;
  border: 4px solid var(--primary);
  width: 80%;
  color: var(--white);
}

.close {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}


// ------- Landlord Dashboard Style -------

.landlord-dashboard {
  background-color: var(--primary);
}

.landlord-btn {
  background-color: var(--secondary);
  border-color: var(--white);
}

.landlord-btn:hover {
  background-color: var(--white);
  border-color: var(--secondary);
  border-width: 3px;
  color: var(--secondary)
}

.landlord-btn-square {
  height: 7rem;
}

.landlord-overview {
  background-color: var(--secondary);
  border-radius: 5px;
  border: solid 1px var(--white);

  h3 {
    color: var(--white);
  }
}

table {

  color: var(--white);

  th {
    color: var(--white);
  }
  td {
    color: var(--white)
  }

  i:hover {
    color: var(--primary);
    cursor: pointer;
  }
}

.table-dark {
  background-color: var(--secondary);
}
